VITE_PLAUSIBLE_DOMAIN=cities-explorer.eubucco.com
VITE_PLAUSIBLE_SCRIPT_SRC=https://analytics.cities-explorer.eubucco.com/js/script.js

PLAUSIBLE_HOST=analytics.cities-explorer.eubucco.com
PLAUSIBLE_BASE_URL=https://analytics.cities-explorer.eubucco.com
PLAUSIBLE_SECRET_KEY_BASE=replace-with-openssl-rand-base64-48-output
PLAUSIBLE_DB_PASSWORD=replace-with-strong-random-password
PLAUSIBLE_DISABLE_REGISTRATION=true
